<header class="pi-header">
    <div class="toggle-widget">
        <span class="item item-1"></span>
        <span class="item item-2"></span>
    </div>
    
    <nav class="container_nav">
        <label for="show-menu" class="show-menu"><a id="logo-nav-responsive">jointDeveloper</a></label>
        <ul class="topnav border" id="menu">
          <li><img class="imgLogo" src="https://raw.githubusercontent.com/jointDeveloper/Aprendizaje-Web/gh-pages/IMG/robot.png"/></li>
          <li><a id="logo-nav" href="https://jointdeveloper.github.io/Aprendizaje-Web/">jointDeveloper</a></li>
          <li><a href="https://jointdeveloper.github.io/Aprendizaje-Web/views/about.html" class=""><span>Quienes somos</span></a></li>
          <li><a href="https://jointdeveloper.github.io/Aprendizaje-Web/views/perfiles.html" class=""><span>Perfiles</span></a></li>
          <li><a href="https://jointdeveloper.github.io/Aprendizaje-Web/views/portafolio.html" class=""><span>Portafolio</span></a></li>
          <li><a href="https://jointdeveloper.github.io/Aprendizaje-Web/views/eventos.html" class=""><span>Galeria</span></a></li>
          <li><a href="https://jointdeveloper.github.io/Aprendizaje-Web/views/comunidad.html" class=""><span>Comunidad</span></a></li>
          <li><a href="#" class="inicio active"><span>Blog</span></a></li>
          <li><a href="https://jointdeveloper.github.io/Aprendizaje-Web/views/apoyanos.html" class=""><span>Apóyanos</span></a></li>
          <li><a href="https://jointdeveloper.github.io/Aprendizaje-Web/views/contacto.html" class=""><span>Contacto</span></a></li>
        </ul>
      </nav>
</header>
